{% load static %}
{% static "images" as  baseurl %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>
<body>

    <div class="box1">
        <div class="box2"></div>
        <div class="box2">online store</div>
        <div class="box3">
            <a href="#" >sign in</a>
        </div>
    </div>
    
    <ul>
        <li><a class="active" href="#home">Home</a></li>
        <li><a href="#news">Shops</a></li>
        <li><a href="#contact">cart</a></li>
        <li><a href="#about">About</a></li>

        {% if user.is_authenticated %}
        <li><a href="accounts/logout">log out</a></li>
        <li><a href="#">Hello, {{user.first_name}}</a></li>
        {% else %}
        <li><a href="accounts/login">Sign in</a></li>
        <li><a href="accounts/register">register</a></li>
        {% endif %}
      </ul>

    <input type="text" placeholder="search for items" id="search" width="auto">  
    <input type="image"  src="{% static 'images/stock3.jpg' %}" height="500px" width="1330px" >
  
    
    <div class="cards_container">
      <tag1>furnishing</tag1>
      {% for prod in products %}
     <div class="cards">
       
         <img src="{{prod.img.url}}">
        <div class="container">
        <p>{{prod.name}}</p>
        <p>Rs {{prod.price}}</p>
        </div>
      </div>

      {% endfor %}
    
     

      

    </div>
      
</html> 