<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>login | online store</title>
</head>
<body>
    <form action="login" method="POST">
        {% csrf_token %}
        <h4>user name : </h4><input type="text" name="username" placeholder="username">
        <h4>password :</h4><input type="password" name="password" placeholder="password">
        <input type="submit">
    </form>
    <div>
        {% for message in messages %}
        <h3>{{message}}</h3>
        {% endfor %}
    </div>
    
</body>
</html>